.about_cards {
  display: flex;
  width: 210px;
  flex-direction: column;
  align-items: center;
  background-color: #fff;
  justify-content: center;
  height: 150px;
  border-radius: 10px;
  font-weight: 700;
  margin: 20px;
  font-size: .9em;
}