.representations_container {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-top: 80px;
}

.representations_content {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 75%;
}