.about_container {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-top: 80px;
}

.about_container p {
  font-size: .8em;
  padding-top: 30px;
  text-align: center;
  white-space: pre-wrap;
}

.about_items {
  display: flex;
  flex-wrap: wrap;
  width: 1000px;
}