.header_container {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 200px;
  padding-bottom: 20px;
  justify-content: space-between;
}

.header_container_300 {
  height: 300px;
}

.header_topbar_container {
  align-items: center;
  justify-content: center;
  display: flex;
  background-color: #24272B;
  height: 40px;
  width: 100%;
  margin-top: 0;
}

.header_topbar_content {
  display: flex;
  justify-content: flex-end;  
  font-size: 14px;
  color: #fff;
  width: 75%;
}

.header_top_bar_contacts {
  display: flex;
  justify-content: space-around;
}

.header_top_bar_contacts_item {
  font-family: sans-serif;
  padding-left: 15px;
}

.nav_container {
  align-items: center;
  display: flex;
  flex-direction: row;
  height: 130px;
  justify-content: space-between;
  width: 75%;
}

.nav_container_responsive {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 140px;
  justify-content: space-between;
}

.logo {
  width: 400px;
}

.nav_container a, .nav_container_responsive a {
  color: #000;
}

.nav_container a:not(:first-child) {
  position: relative;
}

.nav_container a:after {
  border-radius: 1em;
  border-top: .2em solid var(--mainColor);
  bottom: -.30em;
  content: "";
  left: 0;
  position: absolute;
  right: 100%;
  transition: right .4s cubic-bezier(0,.5,0,1);
}

.nav_container a:hover:after {
  right: 0;
}

.social_media_links {
  align-items: center;
  display: flex;
  justify-content: space-around;
  width: 90px;
}

.burger_menu_icon {
  display: none;
}

.hidden {
  display: none;
}

@media screen and (max-width: 950px) {
  .nav_container a:not(:first-child) {
    display: none;
  }

  .logo {
    width: 200px;
  }
  
  .social_media_links {
    display: none;
  }

  .burger_menu_icon {
    display: block;
  }
}

@media screen and (max-width: 550px) {
  .logo {
    width: 150px;
  }

  .header_topbar_content {
    justify-content: center;
    width: 100%;
  }
}

@media screen and (max-width: 320px) {
  .header_topbar_content {
    font-size: 10px;
  }
}