.footer_container {
  align-items: center;
  background-color: #24272B;
  display: flex;
  height: 300px;
  margin-top: 50px;
  justify-content: center;
}

.footer_content {
  display: flex;
  width: 70%;
  align-items: center;
  color: #fff;
  justify-content: space-between;
  height: 70%;
  align-items: center;
  font-size: 15px;
}

.footer_container img {
  width: 240px;
  height: 140px;
}

.footer_contacts {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 45%;
}

.footer_social_media {
  display: flex;
  justify-content: space-around;
}